.slide_verification{
  .can_box{
    position: relative;
  }
  .tu_box{
    position: absolute;
    left: 100px;
    top: 80px;
  }
  .square{
    position: relative;
    overflow: hidden;
    z-index: 999;
  }
  .circular{
    border-radius: 50%;
    position: absolute;
  }
}